:root {
    --Orange: #ff6600;
    --Yellow: #f7cd46;
    --Green: #99982f;
    --Bkgrnd: #f7edda;
}

.theme-colors {
  /* background-color: #f7edda; */
  color: #ff6600;
}
/* .navLink {
  --bs-nav-link-color: #ff6600;
} */

/* set style for underline links in navigation */
.navli {
  margin: 10px;
  display: inline;
  list-style-type: none;
  padding-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: #ff6600;
}

nav ul {
  display: flex;
  text-align: right;
  padding: 10px;
  border-color: var(--Orange);
}

nav li {
  border-color: var(--Bkgrnd);
}

a {
  text-decoration: none;
  color: var(--Bkgrnd);
}

/* Hovered navigation changes color of link and background */
nav a:hover {
  color: var(--Green);
}

nav li:hover {
  background-color: var(--Bkgrnd);
  border-color: var(--Bkgrnd);
}